<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Manaus</key>
	<string></string>
	<key>Minas Gerais</key>
	<string></string>
	<key>Rio de Janeiro</key>
	<string></string>
	<key>Sao Paulo</key>
	<string></string>
</dict>
</plist>
